@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background: #202033;
  color:white;
  font-family: "Poppins", sans-serif;
}
#avatar {
    width: 50px;
    border-radius: 100%;
    padding: 15px;
    position: fixed;
    transition: all 0.5s;
}
#avatar:hover {
  width: 53px;
  padding: 17px;
  transition: all 0.5s;
}
#login {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background:#5865F2;
  color: white;
  border-radius: 10px;
  border: none;
}